body {
	background-image: url("images/bg-xmastree.jpg");
}

h1 {
    animation: headerBlinker 1.5s ease-out infinite;
    text-align: center;
    color: red;
    border-color: red;
    border-style: dotted;
    border-width: 3px;
    -webkit-text-stroke: 2px white;
}
h2 {
    animation: headerBlinker 2s ease-out infinite;
    text-align: left;
    color: white;
}
@keyframes headerBlinker {
  0% { opacity: 0.3; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}

h3 {
    animation: headerSizer 12s ease infinite;
    text-align: center;
    color: white;
}
@keyframes headerSizer {
  0% { font-size: 10px; opacity: 0.6; }
  10% { font-size: 12px; opacity: 0.7; }
  20% { font-size: 15px; opacity: 0.8; }
  30% { font-size: 20px; opacity: 0.8; }
  40% { font-size: 25px; opacity: 0.9; }
  50% { font-size: 60px; opacity: 1; }
  100% { font-size: 60px; font-style: bold; opacity: 1; }
}

p {
    color: white;
    background-color: darkgreen;
    padding: 10px;
    font-size: 16px;
}

table, th, td {
  border: none;
}

td {
    width: 50%;
}
table {
  width: 100%;
}

#banner {
    display: block;
    margin: auto;
    width: 100%;
    height: 180px;
	background-image: url("images/dancing.gif");
    background-repeat: repeat-x;
}

#mainContainer {
    display: flex;
    border: none;
    justify-content: space-around;
    width: 100%;
    height: 800px; 
    position: relative;
}
#menuContainer {
    position: relative;
    border: 5px solid darkgreen;
    height: 55%;
    width: 15%;
}
.menuFrame {
    position: relative;
    border: none;
    height: 100%;
    width: 90%;
}
.selectionFrame {
    position: relative;
    border: 5px solid darkred;
    height: 100%;
    width: 80%;
}

.menuLink a:link {
    color: white;
    font: 25px cursive;
}
.menuLink a:visited {
    color: white;
    font: 25px cursive;
}
.menuLink a:active {
    color: pink;
    font: 28px cursive;
}
.menuLink a:hover {
    color: blue;
    font: 28px cursive;
}
.menuBlinker1 {
    position: relative;
    animation: menuBlinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
.menuBlinker2 {
    position: relative;
    animation: menuBlinker 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;  
}
.menuBlinker3 {
    position: relative;
    animation: menuBlinker 1s ease-in-out infinite alternate;  
}
@keyframes menuBlinker {
    0% { left: 0px; background: lightgreen; }
    25% { left: 1px; background: green; }
    50% { left: 2px; background: darkred; }
    100% { left: 4px; background: red; }
}

.selectionMover1 {
    position: relative;
    animation: selectionMover 1s ease-in-out infinite;  
}
@keyframes selectionMover {
    from { top: 0px; }
    to { top: 100%; }
}

#contact {
    color: white;
    background-color: darkred;
    padding: 10px;

}

.tBody1 {
    background-image: url("images/bg-redsweater1.jpg");
}
.tBody2 {
    background-image: url("images/bg-redsweater2.jpg");
}
.tBody3 {
    background-image: url("images/bg-redsweater3.jpg");
}
.tBody4 {
    background-image: url("images/bg-redsweater4.jpg");
}
.tBody5 {
    background-image: url("images/bg-redsweater5.jpg");
}
.tBody6 {
    background-image: url("images/bg-redsweater6.jpg");
}
.tBody7 {
    background-image: url("images/bg-redsweater7.jpg");
}
.tBody8 {
    background-image: url("images/bg-redsweater8.jpg");
}

.tTableImage {
    max-height: 180px;
    max-width: 500px;
}

/*
#menu {
    float:left;
    width:20%;
    height:80%;
}
#mainContent {
    float:left;
    width:75%;
    height:80%;
}
*/


/*
#mainLeft {
    border: 5px solid blue;
    background-color: red;
    width: 20%;
    height: 100%;
}
#mainRight {
    border: 5px solid darkred;
    background-color: green;
    width: 80%;
    height: 100%;
}
#clear {
    clear: both;
}
*/